@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.map-wrap{
    margin: 200px 200px;
    margin-left: 200px;
    display: flex;
    gap: 90px;
}

@media screen and (max-width: 640px){
    .map-wrap {
        flex-direction: column-reverse;
        margin: 0;
        margin-bottom: 300px;
        align-items: center;
    }
}
@media screen and (max-width: 940px){
    .map-wrap {
        gap: 50px;
    }
}
@media screen and (max-width: 1300px){
    .map-wrap {
        gap: 50px;
        margin: 200px 50px;
    }
}

.info{
    display: flex;
    gap: 35px;
    flex-direction: column;
    font-size: 18px;
    margin-top: 75px;
    color: gray;
}

.info div{
    margin-left: 40px;
    margin-bottom: 50px;
}

.info p:first-child{
    font-weight: 600;
    margin-bottom: 15px;
    color: black;
}

@media screen and (max-width: 430px){
    .info {
        margin-left: 0px;
        flex-direction: column;
    }
}
@media screen and (max-width: 640px){
    .info {
        width: 90% !important;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0;
        gap: 0;
    }
}
@media screen and (max-width: 1300px){
    .info {
        width: 40%;
    }
}
#map{
    width: 65%;
    height: 45vw;
    max-width: 1400px;
}

@media screen and (max-width: 640px){
    #map {
        width: 90%;
        height: 600px;
    }
}

@media screen and (max-width: 1217px){
    #map {
        height: 650px;
    }
}

@media screen and (max-width: 1300px)
{
    #map {
        height: 585px;
    }
}

